<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.lingyu.dntg.dao"/>
	<context:property-placeholder location="classpath:properties/application.properties"/>
	
	<!-- 小区无忧核心基础库 -->
    <bean id="commnuityServerSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" >
            <bean class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource">
                    <bean class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
				        <property name="url" value="${tool.jdbc.url}" />
				        <property name="username" value="${tool.jdbc.name}" />
				        <property name="password" value="${tool.jdbc.pwd}" />
				        <property name="filters" value="stat" />
				        <property name="maxActive" value="20" />
				        <property name="initialSize" value="1" />
				        <property name="maxWait" value="60000" />
				        <property name="minIdle" value="1" />
				        <property name="timeBetweenEvictionRunsMillis" value="3000" />
				        <property name="minEvictableIdleTimeMillis" value="300000" />
				        <property name="validationQuery" value="SELECT 'x'" />
				        <property name="testWhileIdle" value="true" />
				        <property name="testOnBorrow" value="false" />
				        <property name="testOnReturn" value="false" />
				    </bean>
                </property>
				 <property name="mapperLocations" value="classpath:mapper/tool/*.xml"/>
				 <property name="plugins">
					<list>
						 <ref bean="pagingSQLInterceptor"/>
					</list>
				</property>
            </bean>
        </constructor-arg>
    </bean>
    
	<bean id="gameDataSource" class="com.lingyu.dntg.dao.base.dynamicDataSource.GameDataSource" init-method="init">
		<property name="maxActive" value="10" />
		<property name="initialSize" value="1" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="targetDataSources">    
			<map key-type="java.lang.String" />
		</property> 
	</bean>
	<bean id="gameSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" >
            <bean class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="gameDataSource" />
				<property name="mapperLocations" value="classpath:mapper/game/*.xml"/>
				<property name="plugins">
					<list>
						 <ref bean="pagingSQLInterceptor"/>  
					</list>
				</property>
            </bean>
        </constructor-arg>
    </bean>
    
	<bean id="logDataSource" class="com.lingyu.dntg.dao.base.dynamicDataSource.LogDataSource" init-method="init">
		<property name="maxActive" value="10" />
		<property name="initialSize" value="1" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="targetDataSources">    
			<map key-type="java.lang.String" />
		</property> 
	</bean>
    <bean id="logSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" >
            <bean class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="logDataSource" />
				<property name="mapperLocations" value="classpath:mapper/log/*.xml"/>
				<property name="plugins">
					<list>
						 <ref bean="pagingSQLInterceptor"/>
					</list>
				</property>
            </bean>
        </constructor-arg>
    </bean>
    
    <!-- mybatis分页(拦截器) -->
    <bean id="pagingSQLInterceptor" class="com.lingyu.dntg.dao.base.interceptor.PagingSQLInterceptor" />  
</beans>