@charset "utf-8";

/*right frame*/
#div_right_frame {
	margin-top: 5px;
	margin-left: 4px;
	width: 98%;
}

#div_position_nav {
	height: 20px;
	width: 100%;
}

.div_divide_line {
	background: url(../../images/pageframe/rgtline.gif) repeat-x;
	height: 4px;
	width: 100%;
}
/*right frame*/